<?xml version="1.0" encoding="UTF-8"?>

<map>
    <entities>
        <entity source_name="media" destination_name="wp_posts" has_meta="true" taxonomy="" content_type="video" >
            <order attribute="media.id" descending="true" />
            <!-- <offset attribute="2000" />
            <limit attribute="50" /> -->
            <groupby attribute="media.id,media_transcode.status_date,media_transcode.width,media_transcode.height,media_transcode.jw_player_id,person.name,media_transcode.notification_email" />
            <joins>
                <link_entity
                        link_type="inner"
                        table_name="media_transcode"
                        from_column="media_id"
                        to_column="id"
                />
                <link_entity
                        link_type="left"
                        table_name="tag_content_int"
                        from_column="content_id"
                        to_column="id"
                        alias="tgi"
                        join_where="AND tag_content_int.content_type_id = 3"
                />
                <link_entity
                        link_type="left"
                        table_name="person_content_int"
                        from_column="content_id"
                        to_column="id"
                        alias="tgi"
                        join_where="AND person_content_int.content_type_id = 3"
                />
                <link_entity
                        link_type="left"
                        table_name="cms_workflow_event"
                        from_column="object_id"
                        to_column="id"
                        join_where="AND cms_workflow_event.content_type_id = 3"
                />
                <link_entity
                        link_type="left"
                        table_name="gallery_member_int"
                        from_column="content_id"
                        to_column="id"
                        join_where="AND gallery_member_int.gallery_member_type_id=3"
                />
                <link_entity
                        link_type="left"
                        table_name="article"
                        from_column="gallery_id"
                        to_column="gallery_member_int.gallery_id"
                        dont_use_source_alias="true"
                        join_where="AND gallery_member_int.gallery_member_type_id=3"
                />
                <link_entity
                        link_type="left"
                        table_name="person"
                        from_column="id"
                        to_column="person_content_int.person_id "
                        dont_use_source_alias="true"
                        join_where="AND article.created_by = person.id AND person_content_int.content_type_id = 3"
                />
                <link_entity
                        link_type="left"
                        table_name="cms_user"
                        from_column="person_id"
                        to_column="person_content_int.person_id"
                        dont_use_source_alias="true"
                        alias="cu"
                        join_where="AND person_content_int.content_type_id = 3"
                />
            </joins>
            <filters type="AND" >
                <condition attribute="media.is_video" operator="eq" value="true" value_type="string" />
                <condition attribute="media.cms_workflow_status_id" operator="eq" value="6" value_type="integer" />
                <!-- <condition attribute="cms_workflow_event.status_date" operator="gt" value="to_date('2021/02/05', 'YYYY/MM/dd')" value_type="string" /> -->
            </filters>
            <col>
                <field>media.title</field>
                <to>post_title</to>
            </col>
            <col>
                <field>media.summary</field>
                <to>post_excerpt</to>
            </col>
            <col>
                <field>array_to_string(array_agg(DISTINCT cms_user.id),',') as media_author_ids</field>
                <to is_callback="getAuthorReferenceByOldIds" do_insert="off">post_author</to>
            </col>
            <col>
                <field>media_transcode.status_date</field>
                <to>post_date</to>
            </col>
            <col>
                <field>media.id</field>
                <to is_meta="true">old_id_in_onecms</to>
            </col>
            <col>
                <field>COALESCE(person.name, media.byline, media_transcode.notification_email) as credit</field>
                <to is_meta="true" >credit</to>
            </col>
            <col>
                <field>media.title as media_alt_text_meta</field>
                <to is_meta="true">_wp_attachment_image_alt</to>
            </col>
            <col>
                <field>media.brand_owner</field>
                <to is_meta="true">brand_owner</to>
            </col>
            <col>
                <field>media_transcode.jw_player_id</field>
                <to is_meta="true">jw_player_media_id</to>
            </col>
            <col>
                <field>media_transcode.width</field>
                <to is_meta="true">width</to>
            </col>
            <col>
                <field>media_transcode.height</field>
                <to is_meta="true">height</to>
            </col>
            <col>
                <field>array_to_string(array_agg(DISTINCT tag_content_int.tag_id),',') as tag_content_int_tag_id</field>
                <to wp_term_relationships="1" is_callback="getAssetTagReferenceByOldIds" do_insert="on" is_meta="true">tag_content_int_tag_id</to>
            </col>
        </entity>
    </entities>
</map>